@import '@fontsource/fira-mono';

main {
    color: #eeeeee;
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: xx-large !important;
}

h2 {
    font-size: x-large !important;
}

h3 {
    font-size: large !important;
}

.path {
    stroke-dasharray: 20;
    animation: dash 5s linear;
}

.blink {
    animation: blinkCursor 0.7s infinite;
}

.hero-card {
    background-image: url("data:image/svg+xml,<svg id='patternId' width='100%' height='100%' xmlns='http://www.w3.org/2000/svg'><defs><pattern id='a' patternUnits='userSpaceOnUse' width='70' height='8' patternTransform='scale(2) rotate(35)'><rect x='0' y='0' width='100%' height='100%' fill='rgb(26, 22, 37, 0)'/><path d='M-.02 22c8.373 0 11.938-4.695 16.32-9.662C20.785 7.258 25.728 2 35 2c9.272 0 14.215 5.258 18.7 10.338C58.082 17.305 61.647 22 70.02 22M-.02 14.002C8.353 14 11.918 9.306 16.3 4.339 20.785-.742 25.728-6 35-6 44.272-6 49.215-.742 53.7 4.339c4.382 4.967 7.947 9.661 16.32 9.664M70 6.004c-8.373-.001-11.918-4.698-16.3-9.665C49.215-8.742 44.272-14 35-14c-9.272 0-14.215 5.258-18.7 10.339C11.918 1.306 8.353 6-.02 6.002'  stroke-width='0.5' stroke='hsla(256, 92%, 76%, 1)' fill='none'/></pattern></defs><rect width='800%' height='800%' transform='translate(0,0)' fill='url(%23a)'/></svg>")
}

.card {
    margin: 2px;
    background: linear-gradient(0deg, #000, #272727);
    padding-bottom: 2px;
    height: 97%;
}

.card:hover {
    background: linear-gradient(0deg, #000, #303030);
    border: unset;
}

.glow {
    width: 40px;
    height: 40px;
    border-radius: 10%;
    background-color: #fff;
    box-shadow:
        0 0 60px 30px #fff,  /* inner white */
        0 0 100px 60px #f0f, /* middle magenta */
        0 0 140px 90px #0ff; /* outer cyan */
}
  
.border-gradient:hover {
    background: linear-gradient(45deg, #382bf0, #5e43f3, #7a5af5, #9171f8,#a688fa, #ba9ffb, #0000ff, #eee, #fff);
    /*background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000);*/
    animation : gradient 15s ease infinite;
    background-size: 400% 400%;
}

.green {
    color: #00FF00; /* Green text color */
    font-family: "Courier New", monospace; 
    white-space: pre-wrap;
    font-size: 8px;
}

.scope {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

@keyframes drawWave {
    0% {
        stroke-dashoffset: 1500;
    }
    100% {
        stroke-dashoffset: 0;
    }
}

@keyframes dash {
    to {
        stroke-dashoffset: 1000;
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}